html {
  overflow-y: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#app {

  section {
    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding-left: 50px;
    }
  }
}

section {
  position: relative;
  overflow: hidden;
  background: #fff;
}


h1 {
  font-size: 2rem;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: 2rem;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    font-size: $h2-font-size;
  }
}

a {
  transition: 0.35s;
  font-family: $headings-font-family;
}

ul {
  margin: 0;
  @extend .list-unstyled;
}

figure {
  margin: 0;
}

input {
  border-radius: 0;
  border: none;
  background: transparent;
}